body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: beige;
    max-width: 800px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: darkcyan;
    border: 1px solid black;
    text-align: center;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
}